[Desktop Entry]
Type=Application
Name=Logseq-DB
Comment=Privacy-first, open-source platform for knowledge sharing and management
Exec=/home/illef/Projects/logseq/static/dist/linux-unpacked/logseq %u
Icon=logseq
Terminal=false
StartupNotify=true
Categories=Office;
MimeType=x-scheme-handler/logseq;
StartupWMClass=Logseq
